*, ::after, ::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(#e66465, #9198e5);
    color: white;
    min-width: 400px
}

.ui{
    background-color:rgba(51, 51, 51, 0.501);
    padding: 4.5rem 4.5rem ;
    border-radius: 5%;
    user-select: none;
}

.app{
    margin-bottom: 2.5rem;
}

.location-timezone{
    margin-bottom: 3rem;
    border-bottom-style: solid;
    border-bottom-width: 4px;
    border-bottom-color: white;
}

.timezone{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.temperature{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 4rem;
}

.temperature-degree{
    margin-right: 1rem;
}


.stat-list{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.icon-weather{
    margin-bottom: -0.7rem;
}